In [2]:
import pandas as pd
Yelp = pd.read_csv('Yelp_Reviews.txt', index_col = 0)
Yelp.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

In [3]:
Yelp['stars_squared'] = Yelp['stars'].map(lambda x : x**2)
Yelp.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1

In [4]:
Yelp['date'].map(lambda x : x[5:7]).head()

1     11
2     10
4     09
5     02
10    06
Name: date, dtype: object

In [5]:
Yelp['text'].map(lambda x : len(x.split())).mean()

77.06551724137931

In [9]:
Yelp['Review_Num_Words'] = Yelp['text'].map(lambda x : len(x.split()))
Yelp.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_Num_Words
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30

In [10]:
def rewrite_as_lambda(value):
    if len(value) > 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        'Long'

In [12]:
Yelp['Review_Length'] = Yelp['Review_Num_Words'].map(lambda x : 'Short' if x < 50 else ('Medium' if x < 80 else 'Long'))
Yelp['Review_Length'].value_counts(normalize = True)

Short     0.493103
Long      0.294636
Medium    0.212261
Name: Review_Length, dtype: float64

In [13]:
Yelp['date'].head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

In [19]:
Yelp['date'] = Yelp['date'].map(lambda x : '{}-{}-{}'.format(x[2:],x[5:7],x[:4]))
Yelp['date'].head()

1     12-11-13-11-2012
2     14-10-23-10-2014
4     14-09-05-09-2014
5     11-02-25-02-2011
10    16-06-15-06-2016
Name: date, dtype: object